<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h1>, initial-scale=1.0">
    <title>Planet config</title>
</head>
<body>
  <h1>Edit <%= planet.name %></h1>
  <form action="/planets/<%=planet._id%>?_method=PUT" method="POST">
    <label for="name">Planet Name:</label>
    <input type="text" name="name" value="<%= planet.name %>" />
<br>
    <label for="description">&nbsp&nbspDescription:</label>
    <input type="text" name="description" value="<%= planet.description %>" /> (Main characteristic)
<br>
    <label for="satelites">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSatelites:</label>
    <input type="number" name="satelites" value="<%= planet.satelites %>" /> (or Moons)
<br>
    <label for="sun">&nbsp&nbsp&nbsp&nbsp&nbsp One Year:</label>
    <input type="number" name="sun" value="<%= planet.sun %>" /> (Earth days)
<br>
    <label for="spin">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSpin faster then Earth</label>
    <input type="checkbox" name="spin" <% if (planet.spin) { %>checked<% } %> >
    <br>
    <br>
    <button type="submit">Update Planet</button>
    <hr>
  </form>
  <a href="/planets">Back to Solar System</a>
</body>
    </html>