<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>planets Index</title>
  </head>
  <body>
    <h1>All Planets in our System</h1>
    <hr>
    <ul>
      <% planets.forEach(planet => { %>
        <h2><a href="/planets/<%= planet._id %>"><%= planet.name %></a></h2>
        <li><a href="/planets/<%= planet._id %>"></a>Description:  <%= planet.description %></a></li>
        <li><a href="/planets/<%= planet._id %>"></a>Satelites : <%= planet.satelites %></a></li>
        <li><a href="/planets/<%= planet._id %>"></a>One Year (in Days) : 
          <% if (planet.sun && planet.sun !== '') { %>
            <%= planet.sun %> Earth Days
          <% } else { %>
            No information about the year length
          <% } %>
        </a></li>
        <li><a href="/planets/<%= planet._id %>"></a>Spins Faster than Earth : 
          <% if (planet.spin === true) { %>
            Yes
            <% } else { %>
            <% if (planet.sun === 365) { %>
              Same spin with reference point
              <% } else { %>
                No
              <% } %>
            <% } %>
          </a></li>
        <% }); %>
    </ul>
    <hr>
   <button><a href="/planets/new">Add a new planet</a></button>
   <button><a href="/">Back to the future</a></button>
  </body>
</html>