<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= planet.name %></title>
</head>
<body>
    <h1><%= planet.name %></h1>
    <% if(planet.spin) { %>
    <p><%= planet.name === "Earth" || "earth" ? "The UoM is Earth = hence 1 Spin" : "Spins faster on its Axis compared to Earth" %> !</p>
    <% } else { %> 
        <p><%= planet.name === "Earth" || "earth" ? "The UoM is Earth = hence 1 Spin" : "This Planet spins slower on its axis compared to Earth!" %></p>
    <% } %>
    <% if (planet.sun && planet.name !== "Earth") { %>
        <p>This planet needs <%= planet.sun %> Earth Days to rotate Sun !</p>
        <% } else { %>
        <p><%= planet.name === "Earth" || "earth" ? "This Is Earth & needs 365 days to rotate Sun" : "No data available please do your homework :-)" %></p>
        <% } %>


    <form action="/planets/<%=planet._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= planet.name %></button>
      </form>
      <br>
      <hr>
      <button><a href="/planets/<%= planet._id %>/edit">Edit <%= planet.name %></a></button> &nbsp&nbsp
      <a href="/planets/">Back to Solar System</a>
</body>
</html>